*{
    margin: 0;
    padding: 0;
}
.videofundo{
    width: 100px;
    height: 100px;
}
header{
    text-align: center;
}
#icon{
    font-size: 50px;
}
#navigation{
    text-align: center;
    font-size: 30px;
    font-family: "Roboto";
    padding: 20px;
}
#centro{
    text-align: center;
    font-family: "Roboto";
    font-size: 30px;
    text-align: center;
}
td{
    padding: 25px;
    margin: 50px;
}
#logo{
    padding-left: 250px;
} 
a:active, a:link, a:visited{
    color: grey;
    background-color: transparent;
    text-decoration: none;
    background-color: darkgray;
}
a:hover{
    color: white;
}
#video {
    border-radius: 5px;
}
#redesocial{
    margin: 0;
    padding: 0;
    background-color: gray;
}
#instagram {
    font-size: 40px;
    text-align: center;
    color: transparent;
}